<!DOCTYPE html>
<html>
    <head>
        <title>Архив всех статей</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/article.css' %}">
    </head>
    <body class="archive">
        <div class="header">
            <img src="{% static 'img/dpb-logo.png' %}" />
            
            <div class="user-info">
                {% if user.is_authenticated %}
                    <span>Привет, {{ user.username }}!</span>
                    <a href="{% url 'logout' %}" class="header-link">Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}" class="header-link">Войти</a>
                    <a href="{% url 'register' %}" class="header-link">Регистрация</a>
                {% endif %}
            </div>
        </div>
        
        <div class="create-post-link">
            <a href="{% url 'create_post' %}" class="create-btn">+ Написать статью</a>
        </div>
        
        <div class="archive">
            {% for post in posts %}
            <div class="one-post">
                <h2 class="post-title">
                    <a href="{% url 'get_article' article_id=post.id %}">{{ post.title }}</a>
                </h2>
                <div class="article-info">
                    <div class="article-author">{{ post.author.username }}</div>
                    <div class="article-created-date">{{ post.created_date }}</div>
                </div>
                <p class="article-text">{{ post.get_excerpt }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>